@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}

.motivation {
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

img {
    border: 10px solid white;
    height: 100%;
    width: 100%;
}